<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>LOGIN PAGE</H1>
        <form action="/login" method="post">
            <h3>Enter Username</h3>
            <input type="text" name="name" placeholder="Username" />
            <h3>Enter Password</h3>
            <input type="password" name="password" placeholder="Password" /><br><br>
            <button type="submit">login</button>
        </form>

</body>
</html>